<p id="notice"><%= notice %></p>

<h1><%= @listing.title %></h1>

<hr />

<p>
  <div class="row text-center text-lg-left">
  	<% @listing.images.each do |image| %>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <%= image_tag image, :class => 'img-fluid img-thumbnail' %>
        </div>
      </div>
    <% end %>
  </div>
</p>

<p>

<p>
  <%= @listing.location %>
</p>

<p>
  Hosted by <%= @listing.user.name %>
</p>

<hr />

<p><%= @listing.description %></p>

<hr />

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
