<p id="notice"><%= notice %></p>

<h1><%= @listing.title %></h1>

<hr />

<p>
  <%= @listing.location %>
</p>

<p>
  Hosted by <%= @listing.user.name %>
</p>

<hr />

<p><%= @listing.description %></p>

<hr />

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
