<h1>Editing Reservation</h1>

<br>

<%= form_with(model: @reservation, url: admin_reservation_path, local: true) do |form| %>

  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% @reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
  <% @reservation.attributes.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <% if key.to_sym.in?(@read_only_fields) %>
        <td><%= form.text_field key.to_sym, value: value, disabled: true %><td>
      <% else %>
        <td><%= form.text_field key.to_sym, value: value %><td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <br>
  
  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>

<%= button_to 'Destroy', admin_reservation_path(@reservation), method: :delete %>
<%= link_to 'Back', :back %>
