<h1>Admin Portal</h1>

<ul class='nav nav-tabs'>
  <li class='nav-item'>
    <%= link_to 'Users', admin_users_path, class: 'nav-link admin-tab' %>
  </li>
  <li class='nav-item'>
    <%= link_to 'Listings', admin_listings_path, class: 'nav-link admin-tab' %>
  </li>
  <li class='nav-item'>
    <%= link_to 'Reservations', admin_reservations_path, class: 'nav-link admin-tab' %>
  </li>
</ul>

<br>

<% items.each do |item| %>
  <table>
  <% item.attributes.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </table>
  <hr>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
$(document).ready(() => {
  const pathname = window.location.pathname;
  const pages = ['users', 'listings', 'reservations'];
  const $tabs = $('.admin-tab')

  $tabs.each(function(i) {
    if (pathname.includes(pages[i])) {
      $tabs[i].classList.add('active')
    } else {
      $tabs[i].classList.remove('active')
    }
  });
});
</script>
