<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>
    <%= @listing.title %>
    <%= @listing.description %>
  </h1>

  <div class="field hidden">
    <%= form.label :listing_id %>
    <%= form.number_field :listing_id, value: params[:listing_id] %>
  </div>

  <div class="field hidden">
    <%= form.label :diner_id %>
    <%= form.number_field :diner_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
