<p id="notice"><%= notice %></p>

<h2><%= @reservation.start_time.strftime("%a, %b %d") %></h2>
<h1><%= @reservation.listing.title %></h1>

<p>
  <%= @reservation.start_time.strftime("%l:%M:%S %p") %> to <%= @reservation.end_time.strftime("%l:%M:%S %p") %>
</p>

<hr />

<p>
  <%= @reservation.listing.location %>
</p>

<p>
  Hosted by <%= @reservation.listing.user.name %>
</p>

<hr />

<p><%= @reservation.listing.description %></p>

<% if @reservation.end_time.past? %>
  <hr />
  <h3>Leave a review!</h3>
  <%= render 'reviews/form', review: Review.new %>
<% end %>

<hr />


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
