<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @reservation.listing_id %>
</p>

<p>
  <strong>Diner:</strong>
  <%= @reservation.diner_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reservation.end_time %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
