<h1>Editing User</h1>

<br>

<%= form_with(model: @user, url: admin_user_path, local: true) do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
  <% @user.attributes.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <% if key.to_sym.in?(@read_only_fields) %>
        <td><%= form.text_field key.to_sym, value: value, disabled: true %><td>
      <% else %>
        <td><%= form.text_field key.to_sym, value: value %><td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <br>
  
  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Cancel edit', admin_user_path(@user) %>
